<!doctype html>
<html lang="en">
<head   xmlns:th="http://www.thymeleaf.org">
    <title>来融金服|服务器维护中...</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.ico}" />

    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/static/images/app-icon72x72@2x.png}" />
    <link rel="apple-touch-icon-precomposed" th:href="@{/static/images/app-icon72x72@2x.png}" />
    <link rel="stylesheet" th:href="@{/static/css/maintenance.css}" />
</head>
<body>
<div class="maintenance-pic"></div>
</body>
</html>